video {
  width: 100%;
  display: block;
  max-width: 100%;
  border: 1px solid #ddd;
}

canvas {
  display: none;
}

.layout-wrapper {
  width: 1px;
  height: 1px;
  overflow: auto;
}
#layout {
  width: 1920px;
  height: 1080px;
  position: relative;
}
